.TimerLapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-bottom: 5rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.TimerLapse__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 6.2rem;
}
