{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "plugins": ["react", "jsx-a11y", "import", "cypress"],
  "extends": ["airbnb", "react-app", "plugin:cypress/recommended"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "consistent-return": [0],
    "no-use-before-define": [0],
    "global-require": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-one-expression-per-line": [0],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "object-curly-newline": ["error", { "consistent": true }]
  }
}
