.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
  padding: 0;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: var(--fontWeight700);
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: .1rem solid #fff;
  border-radius: 50%;
  opacity: 1;
  transform: scale3d(1,1,1);
  transition: opacity .3s ease, transform .3s ease;
  will-change: transform;
  cursor: pointer;
}

.Button:hover {
  transform: scale3d(1.06,1.06,1.06);
}

.Button:active {
  transform: scale3d(1,1,1);
}

.Button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.Button svg {
  width: 3.2rem;
  height: 3.2rem;
}
.Button svg.Play {
  margin-left: 0.6rem;
}

.Button + .Button {
  margin-left: 2rem;
}

.Button--small {
  width: 5rem;
  height: 5rem;
}

.Button--small svg {
  width: 1.8rem;
  height: 1.8rem;
}
.Button--small svg.Skip {
  width: 2.1rem;
  height: 2.1rem;
}

.Button--noBorder {
  border-color: transparent;
}
