/* ====================================================================
 * Settings
 * ==================================================================== */

:root {
  --colorBlack: #000;
  --colorWhite: #fff;
  --fontWeight700: 700;
}

/* ====================================================================
 * Box Sizing
 * ==================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ====================================================================
 * Selection
 * ==================================================================== */

::selection {
  color: var(--colorWhite);
  background-color: rgba(255,255,255,.2);
}

/* ====================================================================
 * Tap Highlight
 * ==================================================================== */

html {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: inherit;
}

/* ====================================================================
 * Page
 * ==================================================================== */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

html,
body,
#root {
  height: 100%;
}
