.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #000;
}

.App__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Footer {
  width: 100%;
  height: 58px;
}
