/*
 * Box Sizing
 * -------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * Page
 * -------------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

html,
body,
#root {
  height: 100%;
}
